/* Nosotros */
#about {
    margin: 0rem;
    section {
        margin: 2rem 0rem;
    }
    #about-us{
        article{
            @include element-position(center, center);
            padding: 2rem;
            .about-us-who-do{
                h2{
                   margin: 0 1rem;
                }
                p{
                    margin: 0 1rem;
                }
            }
            .worksample-grid{
                @include element-position(center,center);
                .worksample-grid-img-main{
                    @include element-size(10rem, auto);
                   margin: 1rem 0rem;
                }
                .worksample-grid-img-dual{
                    @include element-position(center,center);
                    flex-direction: column;
                    img{
                        @include element-size(auto, 7rem);
                       margin: 0.5rem 0rem;
                    }
                }
            } 
        }
    }
    #proyect-method {
        padding: 2rem;
        margin-bottom: 3rem;
        .method-description {
            margin-bottom: 2rem;
            h2 {
                color: white
            }
        }
        .method-stages {
            @include element-position(center, top);
            article {
                svg{
                    color: $color-boreal;
                    margin-bottom: 0.75rem;
                    @extend %zoom-hover;
                }
                h4{
                    color: white;
                }
                p {
                    font-weight: 500;
                }
            }
        }
    }
}